﻿@using notes.Models;

@{
    ViewBag.Title = "_ConnectedLayout";
    User user = Session["UserConnected"] as User;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notes</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Calibri;
        }

        menu {
            width: 100%;
            background-color: #A82200;
        }

            menu section:first-child {
                margin: auto;
                width: 1000px;
                text-align: center;
            }

            menu input {
                padding: 10px;
                border: 0;
            }

            menu section:first-child section {
                display: inline-block;
                width: 20%;
            }

                menu section:first-child section:first-child {
                    width: 78%;
                    text-align: left;
                }

            menu h1 {
                display: inline-block;
                vertical-align: bottom;
            }

            menu input {
                width: 70%;
                height: 8px;
                margin-left: 20px;
            }

        main {
            width: 100%;
            height: 100%;
            background-color: white;
        }

        #logo a {
            color: white;
            font-family: Georgia;
            font-size: 30px;
            text-decoration:none;
        }

        ul {
            list-style: none;
            padding:0!important;
            -webkit-padding-start: 40px;
        }

        li {
            display: inline-block;
            color: white;
            margin: 0;
        }

        li a{
            display:inline-block;
            padding:20px;
        }

        #usersubmenuactive li a
        {
            width:65%;
        }

        #usersubmenuactive  a:hover
        {           
            background-color: rgba(255, 255, 255, 0.5);
            background: rgba(255, 255, 255, 0.5);
        }

        menu li:hover {
            height: 100%;
            background-color: #751700;
        }

        li a {
            color: white;
            text-decoration: none;
        }

        #searchprofil {
            background-color: lightgray;
            margin-left: -50px;
            width: 50px;
            height: 28px;
            padding: 0;
            text-align: center;
            border: 0;
        }

        #myNotesCategories {
            width: 1000px;
            margin: auto;
        }

        .categorie {
            font-size: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        #newnoteb {
            background: #A82200;
            background-image: -webkit-linear-gradient(top, #A82200, #A82200);
            background-image: -moz-linear-gradient(top, #A82200, #A82200);
            background-image: -ms-linear-gradient(top, #A82200, #A82200);
            background-image: -o-linear-gradient(top, #A82200, #A82200);
            background-image: linear-gradient(to bottom, #A82200, #A82200);
            -webkit-border-radius: 4;
            -moz-border-radius: 4;
            border-radius: 4px;
            font-family: Arial;
            color: #ffffff;
            font-size: 13px;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
            border: none;
        }

            #newnoteb:hover {
                background: #730606;
                background-image: -webkit-linear-gradient(top, #730606, #730606);
                background-image: -moz-linear-gradient(top, #730606, #730606);
                background-image: -ms-linear-gradient(top, #730606, #730606);
                background-image: -o-linear-gradient(top, #730606, #730606);
                background-image: linear-gradient(to bottom, #730606, #730606);
                text-decoration: none;
            }

        #newnotepage {
            width: 1000px;
            margin: auto;
            background-color: ghostwhite;
            padding: 20px;
        }

        h2 {
            margin: auto;
            width: 1000px;
        }

        #newnotepage input {
            width: 99%;
            padding: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

            #newnotepage input[type=text] {
                margin-bottom: 10px;
            }

        #newnotepage select {
            width: 100.4%;
            padding: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #newnotepage input[type=submit] {
            width: 100px;
            padding: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 10px;
        }

        .btnspecial {
            background: #A82200;
            background-image: -webkit-linear-gradient(top, #A82200, #A82200);
            background-image: -moz-linear-gradient(top, #A82200, #A82200);
            background-image: -ms-linear-gradient(top, #A82200, #A82200);
            background-image: -o-linear-gradient(top, #A82200, #A82200);
            background-image: linear-gradient(to bottom, #A82200, #A82200);
            -webkit-border-radius: 4;
            -moz-border-radius: 4;
            border-radius: 4px;
            font-family: Arial;
            color: #ffffff;
            font-size: 13px;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
            border: none;
        }

            .btnspecial:hover {
                background: #730606;
                background-image: -webkit-linear-gradient(top, #730606, #730606);
                background-image: -moz-linear-gradient(top, #730606, #730606);
                background-image: -ms-linear-gradient(top, #730606, #730606);
                background-image: -o-linear-gradient(top, #730606, #730606);
                background-image: linear-gradient(to bottom, #730606, #730606);
                text-decoration: none;
            }

            .errorvalid{
                color:red;
                margin-top:10px;
            }

            .mar
            {
                margin-top:10px;
            }

            .submenu li
            {
                display:block;
            }

            .profiluserinfopara
            {
                padding:15px;
                border-bottom:2px solid white;
            }

            .stoppara
            {
                border-bottom:none;
            }

            .hoverajax{
                color:#A82200;
                font-weight:600;
            }

             .hoverajax:hover{
                background-color:#A82200;
                color:white;
            }

             .noresult{
                 color:lightgray;
                 font-size:32px;
                 padding-left:10px;
             }
    </style>
    <link href="~/css/prism-1.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    <script src="~/ckeditor2/ckeditor.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>

    <menu>
        <section>
            <section style="position:relative;">
                <h1 id="logo">@Html.ActionLink("notes", "Welcome")</h1>
                <input type="text" id="searchinput" />
                <input type="submit" id="searchprofil" value="search">
                <div id="overflowsearch" style="display:none;position:absolute;top:35px;left:108px;width:568px;max-height:400px;background-color:white;border:1px solid grey;overflow:auto;z-index:9000000000000;">
                    
                </div>
            </section>
            <section>
                <ul style="position:relative;">
                    <li><a href="" id="usernamemenu">@user.Username</a>
                        <ul id="usersubmenuactive" class="submenu" style="position:absolute;top:59px;left:5px;background-color:#751700;display:none;padding:0;text-align:left;z-index:10000000">
                            <li>@Html.ActionLink("My profil", "Profil", new { username = user.Username }, new { id = "myprofil" })</li>
                            <li>@Html.ActionLink("Setting", "setting", null, new { id = "myprofil" })</li>
                            <li>@Html.ActionLink("Disconnect", "disconnect" , null , new { id = "disconnect" })</li>
                            @{
                                if (((User)Session["userConnected"]).Role.Name == "Admin")
                                {
                                    <li>@Html.ActionLink("Admin", "admin")</li>
                                }
                            }
                        </ul>
                    </li>
                    <li>@Html.ActionLink("My notes" , "mynotes" , new { id = "" })</li>
                </ul>
            </section>
        </section>
    </menu>

    @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/prism(3).js"></script>

    <script>
        var userSubMenu = document.getElementById("usernamemenu");
        var active = document.getElementById("usersubmenuactive");
        var search = document.getElementById("searchinput");
        var searhof = document.getElementById("overflowsearch");

        var arraypre = document.getElementsByTagName("pre");

        for (var i = 0 ; i <= arraypre.length - 1 ; i++) {
            arraypre[i].setAttribute("class", "line-numbers")
        }
        
        userSubMenu.onclick = function(e)
        {
            e.preventDefault();
            active.style.display = "block";
            console.log("allo");
        }

        document.onclick = function(e)
        {
            if (e.target.id != "myprofil" && e.target.id != "setting" && e.target.id != "disconnect" && e.target.id != "usernamemenu")
                active.style.display = "none"

            if (e.target.id != "overflowsearch")
                searhof.style.display = "none";
        }
        
        search.oninput = function(e)
        {
            if(searhof.style.display != "block")
                searhof.style.display = "block";
            $("#overflowsearch").load("/en/search", {search : search.value});
        }

    </script>
</body>
</html>



