﻿
@{
    ViewBag.Title = "_disconnectedLayout";
}







<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <style>

        *
        {
            margin:0;
            padding:0;
            font-family:Calibri;
        }

        body
        {
            background-color : #A82200;
        }

        menu
        {
            padding-top:20px;
            padding-bottom:20px;
            width:100%;
            background-color : #A82200;
        }

        menu section:first-child
        {
            margin:auto;
            width:1000px;
            text-align:center;
        }

        menu input
        {
            padding:10px;
        }

        menu section:first-child section
        {
            display:inline-block;
            width:49%;
        }

        main
        {
            width:100%;
            height:100%;
            background-color : white;
        }

        #logo
        {
            color:white;
            font-family:Georgia;
            font-size:60px;
        }

        main section:first-child
        {
            margin:auto;
            width:1000px;
            text-align:center;
        }

        main section:first-child section
        {
            display:inline-block;
            width:49%;
            background-color : #A82200;
        }

        main section h2
        {
            color:white;
            text-align:left;
            padding-left:20px;
        }

        main section:first-child section:first-child
        {
            padding-top:15%;
            vertical-align:top;
            font-size:20px;
            background-color:white;
        }

        .registerFormInput
        {
            margin-top:10px;
            width:90%;
            padding-bottom:10px;
            padding-top:10px;
        }

        select
        {
            margin-top:10px;
            width: 29.6%;
            padding-bottom:10px;
            padding-top:10px;
        }

        .logored
        {
            font-size:40px;
            color : #A82200;
            font-family:Georgia;
        }

        .registerError
        {
            text-align:left;
            color:white;
            padding-top:5px;
            padding-left:20px;
            font-size:12px;
        }

        footer
        {
           text-align:center;
           width:100%;
           padding-top:10px;
           padding-bottom:30px;
           background-color : #A82200;
           color:white;
        }
    </style>
</head>
<body>

    <menu>
        <section>
            <section style="vertical-align:super">
                <h1 id="logo">notes</h1>
            </section>
            <section style="vertical-align:text-bottom">
                <form>
                    <input type="text" placeholder="Username"/>
                    <input type="password" placeholder="Password" />
                    <input type="submit" value="Connect"/>
                </form>
            </section>
        </section>
    </menu>

    @RenderBody()

    <footer>
        <section><p>Copyright www.notes.edu a website created by Jordan gauthier</p></section>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

