﻿@using notes.Models
@model AdminModel
@{
    ViewBag.Title = "admin";
    Layout = "~/Views/Shared/_ConnectedLayout.cshtml";
    IEnumerable<SelectListItem> option = this.ViewBag.Options as IEnumerable<SelectListItem>;
}

<h2 style="padding:10px;background-color:#A82200;width:1000px;margin:auto;margin-top:10px;">Ban/Unban  : </h2>
<main  id="newnotepage"  style="width:1000px;margin:auto;padding:10px;background-color:whitesmoke;">
    @using (Html.BeginForm("admin", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <p>@Html.ValidationMessageFor(a => a.Username, null, new { @class = "errorvalid" })</p>
        <p style="margin-top:5px;">@Html.LabelFor(a => a.Username)</p>
        <p style="margin-top:5px;">@Html.TextBoxFor(a => a.Username)</p>
        <p style="margin-top:5px;">@Html.LabelFor(a => a.BanOrDeban)</p>
        <p style="margin-top:5px;">@Html.DropDownListFor(a => a.BanOrDeban , option)</p>

        <p style="margin-top:5px;"><input type="submit" value="submit" /></p>
    }
</main>


