﻿@using notes.Models
@model Noteaddition
@{
    ViewBag.Title = "edit";
    Layout = "~/Views/Shared/_ConnectedLayout.cshtml";
   // Notemessage message = this.ViewBag.Notemessage as Notemessage;
    IEnumerable<SelectListItem> codenames = this.ViewBag.Codenames as IEnumerable<SelectListItem>;
}

<h2>Edit : @Model.Notemessage.Title</h2>

<main id="newnotepage">
    @using (Html.BeginForm("edit", "home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <p class="mar">@Html.ValidationMessageFor(n => n.Message, null, new { @class = "errorvalid" })</p>
        <p>@Html.LabelFor(n => n.Message, new { style = "margin-top:10px;" })</p>
        @Html.TextAreaFor(n => n.Message, new { name = "add", id = "add" })

        <p><input type="submit" value="Post note" /></p>
    }
</main>

<script>
        CKEDITOR.replace('add');
</script>