﻿@using notes.Models
@model Notemessage

@{
    Layout = "~/Views/Shared/_ConnectedLayout.cshtml";
    IEnumerable<SelectListItem> categories = this.ViewBag.CategoriesList as IEnumerable<SelectListItem>;
    IEnumerable<SelectListItem> codenames = this.ViewBag.Codenames as IEnumerable<SelectListItem>;
}

<h2>Edit : @Model.Title</h2>

<main id="newnotepage">
    @using (Html.BeginForm("editmain", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(n => n.Id)

        <p>@Html.ValidationMessageFor(n => n.Title, null, new { @class = "errorvalid" })</p>
        <p>@Html.LabelFor(n => n.Title)</p>
        <p>@Html.TextBoxFor(n => n.Title, new { placeholder = "Title" })</p>

        <p>@Html.ValidationMessageFor(n => n.Description, null, new { @class = "errorvalid" })</p>
        <p>@Html.LabelFor(n => n.Description)</p>
        <p>@Html.TextBoxFor(n => n.Description, new { placeholder = "Description" })</p>

        <p>@Html.ValidationMessageFor(n => n.CategorieId, null, new { @class = "errorvalid" })</p>
        <p>@Html.LabelFor(n => n.CategorieId)</p>
        <p>@Html.DropDownListFor(n => n.CategorieId, categories)</p>

        <p>@Html.ValidationMessageFor(n => n.Public, null, new { @class = "errorvalid" })</p>
        <p style="margin-top:10px;">@Html.LabelFor(n => n.Public, new { style = "margin-top:10px;" })</p>
        <p>@Html.RadioButtonFor(n => n.Public, true, new { style = "width:10px;" }) Public @Html.RadioButtonFor(n => n.Public, false, new { style = "width:10px;" }) Private</p>

        <p><input class="btnspecial" type="submit" value="Submit" /></p>
    }

    <script>
        CKEDITOR.replace( 'firstlog' );
    </script>
</main>



