﻿@using notes.Models
@model User

@{
    ViewBag.Title = "Home Page";
    Layout = null;

    IEnumerable<SelectListItem> daylist = this.ViewBag.DayList as IEnumerable<SelectListItem>;
    IEnumerable<SelectListItem> monthlist = this.ViewBag.MonthList as IEnumerable<SelectListItem>;
    IEnumerable<SelectListItem> yearlist = this.ViewBag.YearList as IEnumerable<SelectListItem>;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Calibri;
        }

        body {
            background-color: #A82200;
        }

        menu {
            padding-top: 20px;
            padding-bottom: 20px;
            width: 100%;
            background-color: #A82200;
        }

            menu section:first-child {
                margin: auto;
                width: 1000px;
                text-align: center;
            }

            menu input {
                padding: 10px;
            }

            menu section:first-child section {
                display: inline-block;
                width: 49%;
            }

        main {
            width: 100%;
            height: 100%;
            background-color: white;
        }

        #logo {
            color: white;
            font-family: Georgia;
            font-size: 60px;
        }

        main section:first-child {
            margin: auto;
            width: 1000px;
            text-align: center;
        }

            main section:first-child section {
                display: inline-block;
                width: 49%;
                background-color: #A82200;
            }

        main section h2 {
            color: white;
            text-align: left;
            padding-left: 20px;
        }

        main section:first-child section:first-child 
        {
            padding-top: 20%;
            vertical-align: top;
            font-size: 20px;
            background-color: white;
        }

        main section:first-child section:first-child  p
        {
            padding:40px;
        }

        .registerFormInput {
            margin-top: 10px;
            width: 90%;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        select {
            margin-top: 10px;
            width: 29.6%;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        .logored {
            font-size: 40px;
            color: #A82200;
            font-family: Georgia;
        }

        .registerError {
            text-align: left;
            color: white;
            padding-top: 5px;
            padding-left: 20px;
            font-size: 12px;
        }

        footer {
            text-align: center;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 30px;
            background-color: #A82200;
            color: white;
        }
    </style>
</head>
<body>

    <menu>
        <section>
            <section style="vertical-align:super">
                <h1 id="logo">notes</h1>
            </section>
            <section style="vertical-align:text-bottom">
                @{
                    if (TempData["loginerror"] != null)
                    {
                        <p class="registerError" style="padding-bottom:5px;padding-left:30px;text-align:left;">@TempData["loginerror"].ToString()</p>
                    }
                }
                @using (Html.BeginForm("Login" , "Home" , FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.TextBox("loginUsername", null , new { type = "text", placeholder = "Username" , style = "margin-right:10px;" })
                    @Html.TextBox("loginPassword" , null , new { type = "password" , placeholder = "Password" })

                    <input type="submit" value="Connect" />
                }
            </section>
        </section>
    </menu>

    <main>
        <section>
            <section>
                <p id="NoteChange">On <span class="logored">notes</span> we are always looking a way to simplify the way you take your notes</p>
            </section>
            <section style="padding-top:40px;padding-bottom:40px;">

                <h2>Register : </h2>

                @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <p class="registerError">@Html.ValidationMessageFor(u => u.FirstName)</p>
                    <p>@Html.TextBoxFor(u => u.FirstName, new { @class = "registerFormInput", placeholder = "First name" })</p>

                    <p class="registerError">@Html.ValidationMessageFor(u => u.LastName)</p>
                    <p>@Html.TextBoxFor(u => u.LastName, new { @class = "registerFormInput", placeholder = "Last name" })</p>

                    <p class="registerError">@Html.ValidationMessageFor(u => u.Email)</p>
                    <p>@Html.TextBoxFor(u => u.Email, new { @class = "registerFormInput", placeholder = "Email", type = "email" })</p>

                    <p class="registerError">@Html.ValidationMessageFor(u => u.ConfirmEmail)</p>
                    <p>@Html.TextBoxFor(u => u.ConfirmEmail, new { @class = "registerFormInput", placeholder = "Confirm email", type = "email" })</p>

                    <p class="registerError">@Html.ValidationMessageFor(u => u.Username)</p>
                    <p>@Html.TextBoxFor(u => u.Username, new { @class = "registerFormInput", placeholder = "Username" })</p>

                    <p class="registerError">@Html.ValidationMessageFor(u => u.Password)</p>
                    <p>@Html.TextBoxFor(u => u.Password, new { @class = "registerFormInput", placeholder = "Password", type = "password" })</p>

                    <p class="registerError">@Html.ValidationMessageFor(u => u.ConfirmPassword)</p>
                    <p>@Html.TextBoxFor(u => u.ConfirmPassword, new { @class = "registerFormInput", placeholder = "Confirm password", type = "password" })</p>

                    <p class="registerError">@Html.ValidationMessageFor(u => u.BirthDay)</p>
                    <p>@Html.DropDownListFor(u => u.Day, daylist) @Html.DropDownListFor(u => u.Month, monthlist) @Html.DropDownListFor(u => u.Year, yearlist)</p>

                    <p><input type="submit" value="Register" class="registerFormInput" /></p>
                }
            </section>
        </section>
    </main>

    <footer>
        <section><p>Copyright www.notes.edu a website created by Jordan gauthier</p></section>
    </footer>

    <script>
        var noteChange = document.getElementById("NoteChange");
        var index = 1;

        var sentenceArray = [
            "On <span class='logored'>notes</span> we are  working to simplify the way you take your notes",
            "Take your <span class='logored'>notes</span> faster than before!",
            "With <span class='logored'>notes</span> your chance to pass yours class is higher"
        ];

        setInterval(NoteChange, 4000);

        function NoteChange()
        {      
            noteChange.innerHTML = sentenceArray[index];
            index++;
            if (index > sentenceArray.length-1)
                index = 0;
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
