﻿@using notes.Models
@using notes.managers

@{
    ViewBag.Title = "Mynotes";
    Layout = "~/Views/Shared/_ConnectedLayout.cshtml";

    List<Categorie> categories = this.ViewBag.Categories as List<Categorie>;
    String categorieName = this.ViewBag.CategorieName as String;
    List<Notemessage> noteMessages = this.ViewBag.listmessage as List<Notemessage>;
    bool? insub = this.ViewBag.InSub as bool?;
}

<main id="myNotesCategories">

    @{
        if (categories != null)
        {
            <h1 style="border-bottom:1px solid whitesmoke;margin-top:40px;">Categories</h1>

                
            foreach (var item in categories)
            {
                <section style="background-color:whitesmoke;margin-top:5px;padding:10px;">
                    <section class="categorie" style="display:inline-block;width:80%;">
                        @Html.ActionLink(item.Name, "mynotes", new { id = item.Name } , new { style = "color:#A82200;font-style:none" })
                    </section>
                    <section style="display:inline-block;width:17%;">
                        @{
                            if(item.Name == "Subscribes")
                            {
                                @:Notes number : @SubscribeManager.getUserId(((User)Session["userConnected"]).Id).Count
                            }
                            else
                            {

                                int count = 0;

                                foreach (var itemm in item.Notetopic)
                                {
                                    if (itemm.UserId == ((User)Session["userConnected"]).Id)
                                    {
                                        count++;
                                    }

                                }

                                @:Notes number : @count
                            }

                        }
                    </section>
                </section>
             }
                         }
                         else
                         {
            <section style="border-bottom:2px solid whitesmoke;padding-top:5px;padding-bottom:10px;">
                <h1 style="display:inline-block;width:80%;">@categorieName</h1>
                @{
                    if (insub != true)
                    {
                        <section style="display:inline-block;width:18%;text-align:right;">@Html.ActionLink("New note", "newnote", new { lang = "en", categorie = categorieName }, new { id = "newnoteb" })</section>
                    }
                }
            </section>

            if (noteMessages != null)
            {
                if (noteMessages.Count > 0)
                {
                    foreach (var item in noteMessages)
                    {
                        <section style="padding:20px;background-color:whitesmoke;margin-top:10px;">
                            <section style="display:inline-block;width:80%">
                                <section>
                                    @{
                                        if (insub == true)
                                        {
                                            if (item.Public)
                                            {
                                                @Html.ActionLink(item.Title, "note", new { id = item.Id, categorie = item.Categorie.Name }, new { style = "color:#A82200;text-decoration:none;font-weight:600;" })
                                            }
                                            else
                                            {
                                                <span style="color:grey;text-decoration:none;font-weight:600;">@item.Title</span> <span style="color:grey;text-decoration:none;">(Private)</span>
                                            }
                                        }
                                        else
                                        {
                                            @Html.ActionLink(item.Title, "note", new { id = item.Id, categorie = item.Categorie.Name }, new { style = "color:#A82200;text-decoration:none;font-weight:600;" })
                                        }
                                    }
                                </section>
                                <section style="color:#595959;font-style: italic;">
                                    @item.Description
                                </section>
                                @{
                                    if (insub == true)
                                    {
                                        <section style="color:#595959;font-style: italic;">
                                            write by :  @item.user.Username
                                        </section>
                                    }
                                }
  
                            </section>
                            <section style="display:inline-block;text-align:right;width:19%;vertical-align:top;">
                                @{ 
                                    if (insub != true)
                                    {  
                                         @Html.ActionLink("Edit", "editmain", new { mid = item.Id, categorie = item.Categorie.Name }, new { @class = "btnspecial", style = "padding:5px;" })
                                         @Html.ActionLink("X", "deletemessage", new { mid = item.Id }, new { @class = "btnspecial", style = "padding:5px;margin-left:3px;" })
                                    }
                                    else if (insub == true)
                                    {
                                        @Html.ActionLink("X", "subscribedel", new { id = item.Id }, new { @class = "btnspecial", style = "padding:5px;" })
                                    }
                                }                        
                            </section>
                        </section>
                    }
                }
                else
                {
                    <p class="noresult">No result</p>
                }
            }
            else
            {
                <h2>No message in this categorie</h2>
            }
        }

    }
</main>

