﻿@using notes.Models
@model Noteaddition
@{
    ViewBag.Title = "note";
    Layout = "~/Views/Shared/_ConnectedLayout.cshtml";
    Notemessage message = this.ViewBag.Notemessage as Notemessage;
    IEnumerable<SelectListItem> codenames = this.ViewBag.Codenames as IEnumerable<SelectListItem>;
}

<section style="margin:auto;width:1000px;background-color:#A82200;padding-left:20px;padding-right:20px;padding-top:5px;padding-bottom:5px;margin-top:10px;color:white;">
    <h2>@message.Title</h2>
</section>

<main style="width:1000px;margin:auto;background-color:ghostwhite;padding:20px;">
    @{ 
        if(message.Noteadditions.ToList().Count <= 0)
        {
            <h2>You have currently no note in this note topic!</h2>
        }
        else
        {
            foreach (var item in message.Noteadditions.ToList())
            {
                <section>
                    <section style="padding-top:15px;padding-bottom:15px;border-bottom:1px solid black">
                        <section style="display:inline-block;width:65%;">@item.Dateadd</section>
                        <section style="display:inline-block;float:right;"> @Html.ActionLink("Edit", "edit", new { mid = item.NotemessageId, aid = item.Id , categorie = item.Notemessage.Categorie.Name }, new { style = "padding:5px;" }) @Html.ActionLink("Delete", "delete", new { mid = item.NotemessageId, aid = item.Id, categorie = item.Notemessage.Categorie.Name }, new { style = "padding:5px;" })</section>
                    </section>
                    <section style="margin-top:30px;">@Html.Raw(item.Message)</section>
                </section>
            }
        }
    }

    <h2 style="border-bottom:1px solid lightgray;border-top:1px solid lightgray;margin-top:40px;">Note addition : </h2>

    @using (Html.BeginForm("note", "home", FormMethod.Post))
    {
        <p class="mar">@Html.ValidationMessageFor(n => n.Message, null, new { @class = "errorvalid" })</p>
        <p>@Html.LabelFor(n => n.Message, new { style = "margin-top:10px;" })</p>
        @Html.TextAreaFor(n => n.Message, new { name = "add", id = "add" })

        <p><input type="submit" value="Post note"/></p>
    }

    @{
        if (this.TempData["valid"] != null)
        {
            <script>
                var add = document.getElementById("add");
                var code = document.getElementById("code");
                add.innerHTML = "";
                code.innerHTML = "";
            </script>
        }
    }

    <script>
        CKEDITOR.replace('add');
    </script>
</main>

