﻿@using notes.Models
@model Notemessage
@{
    ViewBag.Title = "publicnote";
    Layout = "~/Views/Shared/_ConnectedLayout.cshtml";
    bool? subornot = this.ViewData["subornot"] as bool?;
}

<div id="spinner" style="display:none;background-color:green;width:500px;height:500px;"></div>

<section style="margin:auto;width:1000px;background-color:#A82200;padding-left:20px;padding-right:20px;padding-top:5px;padding-bottom:5px;margin-top:10px;color:white;">
    <section style="display:inline-block;width:80%">
        <h2>@Model.Title</h2>
        <h5>Author : @Html.ActionLink(Model.user.Username, "profil", new { username = Model.user.Username }, new { style = "color:white;" })</h5>
    </section>
    <section style="display:inline-block;width:17%;text-align:right;padding:10px;vertical-align:top;">
        @{ /*JE SUIS RENDU A DANS LE CONTROLLER DE PUBLICNOTE A REGARDER SII LUTILISATEUR QUI VISITE LA NOTE ES SUBSCRIBE A CETTE NITE OU NON
ENSUITE FAIRE EN SORTE QUE QUAND LUTILISATEUR ES SUR CETTE NOTE IL VOIT SUBSCRIBE OU UNSUBSCRIBE
*/}
        @{
            if (subornot == false)
            {
                @Ajax.ActionLink("Subscribe", "subscribeadd", new { id = Model.Id }, new AjaxOptions { OnSuccess = "onSuccess" } , new { id = "sub" })
                @Ajax.ActionLink("Unsubscribe", "subscribedel", new { id = Model.Id }, new AjaxOptions { OnSuccess = "onSuccess" }, new { style="display:none;" , id = "unsub" })
            }
            else if (subornot == true)
            {
                @Ajax.ActionLink("Subscribe", "subscribeadd", new { id = Model.Id }, new AjaxOptions { OnSuccess = "onSuccess" } , new { style="display:none;" , id = "sub" })
                @Ajax.ActionLink("Unsubscribe", "subscribedel", new { id = Model.Id }, new AjaxOptions { OnSuccess = "onSuccess" } , new { id = "unsub" })
            }
        }
    </section>
</section>

<main style="width:1000px;margin:auto;background-color:ghostwhite;padding:20px;">
    @{
        if (Model.Noteadditions.ToList().Count <= 0)
        {
            <h2>You have currently no note in this note topic!</h2>
        }
        else
        {
            foreach (var item in Model.Noteadditions.ToList())
            {
                <section>
                    <section style="padding-top:15px;padding-bottom:15px;border-bottom:1px solid black">
                        <section style="display:inline-block;width:65%;">@item.Dateadd</section>
                    </section>
                    <section style="margin-top:30px;">@Html.Raw(item.Message)</section>
                </section>
            }
        }
    }
</main>

<script>
    var subornot = null;
    var unsub = document.getElementById("unsub");
    var sub = document.getElementById("sub");

    function onSuccess(e)
    {
        subornot = e["value"];
        console.log(subornot);

        if (subornot)
        {
            unsub.style.display = "block";
            sub.style.display = "none";
        }
        else
        {
            unsub.style.display = "none";
            sub.style.display = "block";
        }
           
    }
</script>

