﻿@using notes.Models;
@model SettingFormModel

@{
    ViewBag.Title = "setting";
    Layout = "~/Views/Shared/_ConnectedLayout.cshtml";

    String complete = this.ViewBag.Complete as String;
}

<h2>setting</h2>

<main id="newnotepage" style="width:1000px;margin:auto;background-color:ghostwhite;padding:20px;">

    @{
        if (complete != null)
        {
            <p style="color:red">@complete</p>
        }
     }

    @using (Html.BeginForm("setting","Home",FormMethod.Post , new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <p style="margin-top:10px;">@Html.ValidationMessageFor(u => u.Oldpassword , null , new { @class = "errorvalid" })</p>
        <p>@Html.LabelFor(u => u.Oldpassword)</p>
        <p>@Html.EditorFor(u => u.Oldpassword)</p>

        <p style="margin-top:10px;">@Html.ValidationMessageFor(u => u.Password , null , new { @class = "errorvalid" })</p>
        <p>@Html.LabelFor(u => u.Password)</p>
        <p>@Html.EditorFor(u => u.Password)</p>

        <p style="margin-top:10px;">@Html.ValidationMessageFor(u => u.ConfirmPassword , null , new { @class = "errorvalid" })</p>
        <p>@Html.LabelFor(u => u.ConfirmPassword)</p>
        <p>@Html.EditorFor(u => u.ConfirmPassword)</p>

        <p style="margin-top:10px;">@Html.ValidationMessageFor(u => u.Email , null , new { @class = "errorvalid" })</p>
        <p>@Html.LabelFor(u => u.Email)</p>
        <p>@Html.EditorFor(u => u.Email)</p>

        <p style="margin-top:10px;">@Html.ValidationMessageFor(u => u.AvatarUrl, null, new { @class = "errorvalid" })</p>
        <p>@Html.LabelFor(u => u.AvatarUrl)</p>
        <p>@Html.TextBoxFor(u => u.AvatarUrl , new { type = "file" })</p>

        <p><input type="submit" value="update"/></p>
    }

</main>


