﻿@using notes.Models
@model WelcomeModel
@{
    ViewBag.Title = "LoginIndex";
    Layout = "~/Views/Shared/_ConnectedLayout.cshtml";
}

<main id="myNotesCategories">
    <h4 style="background-color:#A82200;padding:10px;color:white;margin-top:10px;">Recents notes :</h4>
    <section style="background-color:ghostwhite;padding:10px;">
        @{
            if (Model.RecentsMessage.Count > 0)
            {
                foreach (var item in Model.RecentsMessage)
                {
                    <section style="padding:20px;background-color:whitesmoke;margin-top:10px;">
                        <section style="display:inline-block;width:80%">
                            <section>
                                @Html.ActionLink(item.Title, "note", new { id = item.Id, categorie = item.Categorie.Name }, new { style = "color:#A82200;text-decoration:none;font-weight:600;" })
                            </section>
                            <section style="color:#595959;font-style: italic;">
                                @item.Description
                            </section>
                            <section style="color:#595959;font-style: italic;">
                                @item.user.Username
                            </section>
                        </section>
                    </section>
                }
            }
            else
            {
                <section style="padding:20px;color:grey;margin-top:10px;font-size:32px;">
                    No result
                </section>
            }
        }
    </section>

    <h4 style="background-color:#A82200;padding:10px;color:white;margin-top:10px;">Notes with recent addition :</h4>
    <section  style="background-color:ghostwhite;padding:10px;">
        @{
            if (Model.RecentsMessageAddition.Count > 0)
            {
                foreach (var item in Model.RecentsMessageAddition)
                {
                    <section style="padding:20px;background-color:whitesmoke;margin-top:10px;">
                        <section style="display:inline-block;width:80%">
                            <section>
                                @Html.ActionLink(item.Title, "note", new { id = item.Id, categorie = item.Categorie.Name }, new { style = "color:#A82200;text-decoration:none;font-weight:600;" })
                            </section>
                            <section style="color:#595959;font-style: italic;">
                                @item.Description
                            </section>
                            <section style="color:#595959;font-style: italic;">
                                @item.user.Username
                            </section>
                        </section>
                    </section>
                }
            }
            else
            {
                <section style="padding:20px;color:grey;font-size:32px;margin-top:10px;">
                   No result
                </section>
            }

        }
    </section>
</main>


